{% extends 'myApp/base.html' %}
{% load static %}
{% block title %} Index {% endblock %}
{% block style %}
    hr{
        height: 12px;
        border: 0;
        box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
    }
    hrx {
        border: 0;
        height: 1px;
        background: #333;
        background-image: linear-gradient(to right, #ccc, #333, #ccc);
    }

    .taga:link, .taga:visited {
      background-color: white;
      color: black;
      border: 2px solid grey;
      padding: 6px;
      border-radius : 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
    }

    .taga:hover, .taga:active {
      background-color: #09E5F1;
      color: white;
    }


{% endblock %}
{% block body %}

            <div class="left" style="width: 70%; float:left; background-color:pink;">
                <form action="{% url 'search' %}" method="post">{% csrf_token %}
                    <select style="padding: 14px; width: 175px; margin-left: 15px; margin-top: 30px;" id="searchbyid" name="searchby" >
                        <option value="--select--">--select--</option>
                        <option value="tag">Topic tag</option>
<!--                        <option value="subject">Subject</option>-->
                        <option value="q_no">Question no.</option>
                    </select>
                    <input style="padding: 10px; width: 175px; margin-left: 15px; margin-top: 30px;" type="text" placeholder="Input " name="text_input" required>

                    <input style="padding: 10px; width: 175px; margin-left: 15px; margin-top: 30px;" type="submit" value="Search"><br>


                <table border="1px" width="100%" style="margin-top: 20px;">
<!--                    <tr>-->
<!--                        <td><h3>S. No.</h3></td>-->
<!--                        <td> <h3>Question Title</h3></td>-->
<!--                    </tr>-->
<!--                    {% for q in ques %}-->
<!--                        <tr>-->
<!--                            <td style="padding: 10px;"> {{q.Question_number}}</td>-->
<!--                            </a><td style="padding: 10px;" ><a href="/problem/{{ q.Question_id }}"> {{q.Question_title}}</a></td>-->
<!--                        </tr>-->
<!--                    {% endfor %}-->
                    <br><hr><nobr style="padding-left: 10px;"> <b>S No.</b></nobr>
                    <nobr style="padding-left: 50px; padding-top:40px; weight: bold;"><b> Question </b></nobr>

                        <p>{% for i in ques %} {% if i.Question_id.Question_approval == True %} {% ifchanged i.Question_id.Question_title %}</p>

                                <hr>
                                <nobr style="padding-left: 10px;">{{ i.Question_id.Question_number }}. </nobr>
                                <nobr style="padding-left: 50px;" ><a style="text-decoration: none;" href="/problem/{{ i.Question_id.Question_id }}">{{ i.Question_id.Question_title }} </a></nobr>
                            <nobr>{% endifchanged %}</nobr>
                            <nobr>{% if i.Topic_id.Topic_id != "N/A" %}</nobr>
                                <nobr style=" padding-right: 10px;float: right;"> <a class="taga" href="/tag/{{ i.Topic_id.Topic_id }}">{{ i.Topic_id.Topic_name }} </a></nobr>
                            <nobr>{% endif %}</nobr>
                        <nobr>{% endif %}</nobr>
                        <nobr>{% endfor %}</nobr>

                </table>

             </form>
            </div>

        <div class="right" style="width: 30%; float:left; background-color:orange;">
            dfhgjkl
        </div>
{% endblock %}